<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration>
<configuration scan="true" scanPeriod="10 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                %black(%d{ISO8601}) [%thread]  %highlight(%-5level) [%blue(%t)] %yellow(%C{1}): %msg%n%throwable
            </Pattern>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.thingsboard.trendz.generator" level="INFO" />

</configuration>
